.container{
 display: flex;
 justify-content: space-between;
}

.button{
  background-color: var(--strong-color);
  color: white;
  width: 100px;
  border: none;
  padding: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
   transition: scale 0.2s ease, transform 0.3s ease;
}


.button:hover{
  transform: scale(1.1);
}

