

.container{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.button{
  background-color: var(--strong-color);
  color: white;
  width: 100px;
  border: none;
  padding: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
   transition: scale 0.2s ease, transform 0.3s ease;
}


.button:hover{
  transform: scale(1.1);
}

.next{
  margin-left: auto;
}

.pageCount{
  text-align: center;
  color: var(--text);
  margin: 0 20px;
  font-size: 16px;
  font-weight: 500;
}

.button:disabled{
  background-color: rgba(220, 20, 60, 0.46);
  cursor: not-allowed;
}