.container {
  position: relative;
}

.button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  border: 1px var(--text) solid;
  padding: 10px;
  cursor: pointer;
}

.container label{
  cursor: pointer;
  z-index: 999;
}

.editor{
  display: flex;
  gap: 20px;
  height: 400px;
  margin-top: 20px;
  position: relative;
}

.input{
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text);
}

.input::placeholder{
  color: var(--accent-color);
}
.publishButton{
padding: 16px 20px;
border: none;
border-radius: 5px;
width: max-content;
background-color: green;
color: var(--button-text);
cursor: pointer;
transition: scale 0.2s ease, transform 0.3s ease;
position: absolute;
top: 0;
right: 0;
}

.openButton{
z-index: 9999999;
top: 0;
}

.publishButton:hover{
  transform: scale(1.1);
}

.add{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--bg);
  position: absolute;
  margin-right: 20px;
}

.textArea{
  width: 100%;
}

.uploadedImg{
width: 200px;
  height: 200px;
}

.imagePreview{
 object-fit: cover;
}
