
.categoryList{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
  margin-top: 35px;
}


.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
  color: var(--text);
}
.categoryItem.personal {
  background-color: #57c4ff31;
}

.categoryItem.dev {
  background-color: #da85c731;
}

.categoryItem.projects {
  background-color: #7fb88133;
}

.categoryItem.hacks {
  background-color: #ff795736;
}
